*{
    margin: 0;
    font-family: Arial;
    border: border-box;
    user-select: none;
}

a{
    text-decoration: none;
}

/* -----------> NAVBAR <------------ */
.navbar{
    height: 55px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
     justify-content: space-evenly; 
}
.nav-logo{
    height: 44px;
    width: 100px;
}
.nav-logo .logo{
    background-image: url("amazon_logo.png");
    height: 44px;    
    width: 100%;
    background-size: 110px;
}
.border{
    border: 2px solid transparent;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.border:hover{
    border: 1.5px solid rgb(171, 171, 171);
}

/* Box 2 */
.nav-address{
    padding: 0px 10px 0px 10px;
    height: 44px;
    width: 4rem;
    margin-left: 1px;
    margin-right: 10px;
    
    
}
.add-first{
    color:#cccccc ;
    font-size: 0.7rem;
    margin-left: 15px;
    margin-top: 10px;
}
.add-second{
    
    margin-left: 3px;
    font-size: 0.78rem;
    font-weight: 600;
    

}
.add-icon {
    display: flex;
    align-items: center;
}

/* Box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 50.01rem;
    height: 35px;
    border: 3px solid transparent;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.nav-search:hover{
    border: 3px solid #ffaf46;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
input::placeholder{
    font-size: 0.8rem;
    padding-left: 10px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:3px ;
    border-bottom-left-radius:3px ;
    font-size: 0.75rem;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    
}
.search-button{
    width: 50px;
    display: flex;
    justify-content: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: black;
}

/* Box 4 */

.nav-country{
    margin-left: 20px;
    height: 44px;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.select-country{
    background: none;
    color: white;
    border: none;
    
}

/* Box 5 6 */

span{
    font-size: 0.7rem;
    margin-left: 0px;
    margin-top: 10px;
}
.nav-signin{
    height: 44px;
    width: 7rem;
    padding-left: 10px;
}
.nav-rtn{
    height: 44px;
    width: 4rem;
    margin-top:0;
    
}
.nav-rtn-first{
    color:#ffffff ;
    font-size: 0.7rem;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bolder;
    margin-left: 3px;
}
.nav-cart{
    width: 4.5rem;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-cart .cart{
    font-size: 0.8rem;
    margin-top: 1rem;
}


/* ------>  PANEL  <------- */

.panel{
    height: 35px;
    background-color: #222f3e;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-options p{
    display:inline;
    margin-left: 1rem;
}
.panel-options{
    width: 80%;
    font-size: 0.8rem;
    
}
.panel-deals{
    font-size: 0.8rem;
}

/* Hero Section */

.hero-section{
    background-image: url("hero_image.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
    

.hero-message{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    height: 35px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 15px black;
}
.hero-message a{
    color: #007185;
    
}

/* Shop Section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(#324065, white);
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 1rem;
    transition: 500ms ;
    -webkit-transition: 100ms ;
    -moz-transition: 500ms ;
    -ms-transition: 500ms ;
    -o-transition: 500ms ;
}
.box:hover{
    
    -webkit-transform:perspective(1000px) translate3D(0px , 0px, 25px);
    -moz-transform:perspective(1000px) translate3D(0px , 0px, 25px);
    -ms-transform:perspective(1000px) translate3D(0px , 0px, 25px);
    -o-transform:perspective(1000px) translate3D(0px , 0px, 25px);
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left:1rem ;
    margin-right:1rem ;
}
.box-content a{
    color: #007185;
    
}
/* footer */
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 10px;
}

.foot-panel2{
    background-color: #222f3e;
    height: 500px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top:20px ;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top:10px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3e;
    border-top: 0.5px solid rgb(76, 76, 76);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel3 .logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panel4{
    background-color: #131921;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.foot-panel4 a{
    color: white;
}
.pages{
    
    padding-top: 25px;

}
.pages a{
    margin-left: 10px;
}
.pages a:hover{
    text-decoration: underline;
}
.copyright{
    
    margin-top: 5px;

}